In [1]:
a = 1
print(a)

1

In [2]:
a = 1
print(type(a))
b = 1.0
print(type(b))
c = "bonjour"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [4]:
# opération entre type différents

a = 1
b = 3.14
c = a + b
print(type(c))
print(c)

<class 'float'>
4.140000000000001

In [5]:
# opération entre types différents

a = 9

b = a/2
print(b)
print(type(b))

b = a//2
print(b)
print(type(b))

4.5
<class 'float'>
4
<class 'int'>

In [6]:
a = '123'
b = int(a)
print(b+1)
print(type(b))

124
<class 'int'>

In [7]:
a = "123.5"
b = float(a)
print(b+1)
print(type(b))

124.5
<class 'float'>

In [8]:
a = 123.5
b = int(a)
print(b)
print(type(b))

123
<class 'int'>

In [9]:
a = 7
b = 3.14

c = str(a)
d = str(b)
print(type(c))
print(type(d))
print(c, d)

<class 'str'>
<class 'str'>
7 3.14

In [13]:
A = B = True
C = D = False
print((A or B) and (C or D))
print(A or (B and C))
print(A and B and (C or D))
print((A and B) or (not C))
print((not A) or D)

False
True
False
True
False

In [14]:
print(abs(-3) + max(3, 4))
print(min(4, 8, 0, -2))
print(max(min(7, 8), min(4, 6)))
print( round(8.324) + round(8.88))
print(round(8.98795136, 3))

7
-2
7
17
8.988

In [18]:
a = 3
b = -7
c = -23
delta = b**2 - (4*a*c)
x1 = (-b - delta ** 0.5) / (2*a)
x2 = (-b + delta ** 0.5) / (2*a)

print(delta)
print(x1)
print(x2)

325
-1.837959396219991
4.171292729553325

In [32]:
import math

rayon = input("veuillez entrez un rayon :")
hauteur = input("Veuillez entrez une hauteur :")

def volume(rayon, hauteur):
    res = (math.pi * (math.pow(float(rayon), 2)) * float(hauteur)) / 3
    return res

print(volume(rayon, hauteur))

veuillez entrez un rayon :10
Veuillez entrez une hauteur :4
418.8790204786391